body {
  padding: 0;
  margin: 0;
}

.layout {
  background: #eee;

  :global {
    .semi-tabs-bar .semi-tabs-tab .semi-icon-close {
      visibility: hidden;
    }

    .semi-tabs-bar .semi-tabs-tab:hover {
      .semi-icon-close {
        visibility: visible;
      }
    }
  }
}

.header {
  height: 45px;
  display: flex;
  padding: 0 15px;
  align-items: center;
  //justify-content: space-between;
  font-weight: bold;
}

.tabs {
  //background: yellow;
  display: flex;
}

.tab {
  width: 100px;
  margin-right: 10px;
  background: #c9c9c9;
  color: #fff;
  height: 32px;
  display: flex;
  align-items: center;
  padding: 0 5px;

  .icon {
    margin-right: 2px;
    position: relative;
    top: 1px;
  }

  &:hover {
    background: gray;
  }

  &.active {
    background: var(--semi-color-primary);;
  }
}
