body {
  padding: 0;
  margin: 0;
}

.layout {
  background: #eee;

  :global {
    .semi-tabs-bar .semi-tabs-tab .semi-icon-close {
      visibility: hidden;
    }

    .semi-tabs-bar .semi-tabs-tab:hover {
      .semi-icon-close {
        visibility: visible;
      }
    }
  }
}

.header {
  height: 45px;
  display: flex;
  padding: 0 15px;
  align-items: center;
  //justify-content: space-between;
  font-weight: bold;
}
